
/* This is default helpul CSS to include - dont edit this part unless... you want to */
html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/* THE END of default helpful basic CSS to include. EDIT the stuff BELOW this line*/

@font-face {
  font-family: 'violet';
  src: url('./fonts/VioletSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {/*this tags the body objects. it changes the items under body i learned this from lesson 1*/
  background-color: black;
  text-align: center;
  color: red;
}
.menu{/*this is me tagging the menu class. it changes things under the menu class. i learned this from lesson 6*/
  color: yellow;
  font-size: 2em;
}
p1 > b, p2 > b, p3 > b{/*here i am addressing the bold text in p1, p2, and p3. this code changes the bold to orange, italic, verdana font. i learned this from lesson 14*/
  color: orange;
  font-style: italic;
  font-family: verdana;
}

strong:only-child{
  color: crimson;
  font-style: italic;
  font-family: verdana;/*here i address all code with only a strong tag in it. it changes the color to crimson, the style to italic, and the family to verdana. i learned this from lesson 16.*/
}


 /* .my-fun-class {
  width: 40%;
  border: 2px solid forestgreen;
  display: block;
  margin: auto;
}

img {
 width: 40%;
  padding: 6em;
 }  */
